" http://vim.wikia.com/wiki/Map_extra_keys_on_non_US_keyboards
map ü <C-]>
map Ü <C-t>
map ö [
map ä ]
map Ö {
map Ä }
map ß /

" map backtick to single qouote to make it easier to jump to marks
nnoremap ' `
nnoremap ` '

" Quicker window movement
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l

" Quicker Start/End Line
nnoremap H ^
nnoremap L $

" Faster save
nnoremap <C-s> :w<cr>

" More ergonomic Block movment
nnoremap <S-j> }
nnoremap <S-k> {
nnoremap <C-j> $mb:join<cr>`b

:set ruler         " show the cursor position all the time
:set showcmd       " display incomplete commands
:set incsearch     " do incremental searching
:set hlsearch      " highlight matches

:set relativenumber
